{% extends 'base/layout.html' %}
{% load static %}

{% block active1 %}active{% endblock active1 %}

{% block title %}About Us{% endblock title %}


{% block body %}
 <main>
        <!-- page-title-area start -->
        <div class="page-title-area yellow-soft-bg-2 pos-rel">
            <img class="page-shape zigzag_01" src="{% static 'img/shape/03.svg' %}" alt="">
            <img class="page-shape zigzag_02" src="{% static 'img/shape/s1d.svg' %}" alt="">
            <img class="page-shape zigzag_03" src="{% static 'img/shape/s1b.svg' %}" alt="">
            <div class="page-title-img">
                <img class="img-fluid" src="{% static 'img/about/01.jpg' %}" alt="">
                <img class="page-shape shape_01" src="{% static 'img/line-shape/3a.svg' %}" alt="">
                <img class="page-shape shape_02" src="{% static 'img/line-shape/3a.svg' %}" alt="">
                <span class="speacial-text">About</span>
            </div>
            <div class="video-wrapper d-none d-xl-inline-block">
                <a class="popup-video" href="../external.html?link=https://www.youtube.com/watch?v=q2Ruz1dHnow">
                    <img src="{% static 'img/icon/play.svg' %}" alt=""></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 offset-lg-5">
                        <div class="page-title-wrapper pt-255 pb-80 pl-65 pl-md-0 pl-xs-0 pt-lg-200 pt-md-200 pt-xs-200">
                            <h1 class="page-title mb-55">Learn more about <span>DCA</span></h1>
                            <h4 class="sub-title mb-30">We are a data science firm. We provide our customers with the best services. Knowing that data is equally valuable, if not more valuable than gold today, we make sure that our customers get the best use of their data to help propel their organization or operations.</h4><br>
                            <h4 class="sub-title mb-30">At a very reasonable and affordable cost, we provide a variety of services, ranging from data cleaning to the building of predictive machine learning models.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-title-area end -->

        {% comment %} <!-- intro-card-area start -->
        <section class="intro-card-area gradient-gray pos-rel pt-250 pb-150 pt-md-130 pt-xs-130 pb-md-75 pb-xs-75">
             <img src="{% static 'img/shape/04.png' %}" alt="" class="data-shape shape_01 d-none d-md-inline-block">
             <img class="intro-shape shape_02" src="{% static 'img/shape/15.svg' %}" alt="">
             <img class="intro-shape shape_03" src="{% static 'img/shape/16.svg' %}" alt="">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="intro-section-title">
                            <div class="section-title text-center mb-110">
                                <h2 class="mb-40 wow fadeInUp2 animated" data-wow-delay="0.1s">Why data science 
                                    <span class="vector-shape intro-v-shape">Sdot</span> data create digital future</h2> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="intro-box intro-02 mb-30">
                            <h5 class="mb-25">Solutions Visualization</h5>
                            <h3 class="mb-30"><a href="services.html">Data Visualization Practices to Improve</a></h3>
                           <div class="intro-02__ai">
                               <img class="pen-ai" src="{% static 'img/intro/01.svg' %}" alt="">
                           </div>
                           <a href="#" class="intro-btn pl-10"><img src="{% static 'img/icon/long-right-arrow.svg' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="intro-box intro-02 active mb-30">
                            <h5 class="mb-25">Data Consulting</h5>
                            <h3 class="mb-30"><a href="services.html">Consulting on invoice data capture</a></h3>
                            <div class="intro-02__ai">
                               <img class="pen-ai" src="{% static 'img/intro/01.svg' %}" alt="">
                           </div>
                           <a href="#" class="intro-btn pl-10"><img src="{% static 'img/icon/long-right-arrow.svg' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="intro-box intro-02 mb-30">
                            <h5 class="mb-25">Data Case Studies</h5>
                            <h3 class="mb-30"><a href="services.html">Delivering the insights Data Case</a></h3>
                            <div class="intro-02__ai">
                               <img class="pen-ai" src="{% static 'img/intro/01.svg' %}" alt="">
                           </div>
                           <a href="#" class="intro-btn pl-10"><img src="{% static 'img/icon/long-right-arrow.svg' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
        <!-- intro-card-area end -->
        <!-- company-statictics start -->
        <section class="company-statistics pos-rel pt-170 pb-130 pt-md-90 pt-xs-90 pb-md-85 pb-xs-85">
            <img class="count-shape count-sh-02 shape_01" src="{% static 'img/shape/c1.png' %}" alt="">
            <img class="count-shape count-sh-02 shape_02" src="{% static 'img/shape/c2.png' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="counters count-1 text-center mb-50">
                            <h1 class="mb-30">+<span class="counter">115</span></h1>
                            <h3 class="semi-title">Successful Stories</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="counters count-2 text-center mb-50">
                            <h1 class="mb-30"><span class="counter">73</span></h1>
                            <h3 class="semi-title">Customers</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="counters text-center mb-50">
                            <h1 class="mb-30">+<span class="counter">35</span></h1>
                            <h3 class="semi-title">Active Works</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- company-statictics end -->
        <!-- why-data-science start -->
        <section class="why-data-science fix pos-rel pt-50 pb-120 pb-md-50 pb-xs-50">
            <img src="{% static 'img/shape/04.png' %}" alt="" class="data-shape shape_01 d-none d-xl-inline-block">
            <div class="data-shape shape_02 d-none d-xl-inline-block"></div>
            <div class="container">
                <div class="row no-gutters align-items-end">
                    <div class="col-xl-7 col-lg-6">
                        <div class="data-wrapper-2">
                            <div class="section-title wow fadeInUp2 animated" data-wow-delay="0.1s">
                                <h2 class="mb-35">We’re an <span class="vector-shape">experienced </span>digital data science firm</h2>
                            </div>
                            <h3 class="mb-50 wow fadeInUp2 animated" data-wow-delay="0.1s">Data Care Analytics is one of the leading firms providing data science Solutions</h3>
                            <div class="data-wrapper pr-200 mb-50 pr-lg-0 pr-md-0 pr-xs-0">
                                {% comment %} <h3 class="mb-40">Who We are </h3> {% endcomment %}
                                {% comment %} <h5 class="mb-55 wow fadeInUp2 animated" data-wow-delay="0.3s">Dolor sit amet consectetur elit sed eiusmod tempor incidi dunt labore dolore magna aliqua enim ad minim veniam quis nostrud</h5> {% endcomment %}
                                <h3 class="mb-40"></h3>
                                <h5 class="wow fadeInUp2 animated" data-wow-delay="0.5s">We are convinced that data science is the pillar of the new generation. The business expertise of our consultants, combined with the data scientists, allows us to support our customers across the universe of data to meet their business challenges.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="data-img mb-50 pos-rel wow fadeInRight2 animated" data-wow-delay="0.3s">
                           <img class="vector_01" src="{% static 'img/data/02.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- why-data-science end -->


       <!-- client-feedback start -->
        {% comment %} <section class="client-feedback grey-bg pos-rel pt-160 pb-165 pt-md-90 pt-xs-90 pb-md-70 pb-xs-70">
            <div class="dot_01"></div>
            <img class="client-shape shape_02 " src="{% static 'img/shape/c1.png' %}" alt="">
            <img class="client-shape shape_03" src="{% static 'img/shape/t1.png' %}" alt="">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title text-center mb-110">
                            <h2 class="mb-45">What say our clients about our <span class="vector-shape">awesome</span> service</h2>
                            <h4 class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Libero perspiciatis sequi delectus maxime</h4>
                        </div>
                    </div>
                </div>
                <div class="feedback-active owl-carousel">
                    <div class="feedback-item">
                        <div class="feedback__wrapper text-center mb-30">
                            <div class="test__img mb-20">
                                <img src="{% static 'img/testimonial/01.png' %}" alt="">
                            </div>
                            <h3 class="mb-20">Mahadi Shopnil</h3>
                            <h5 class="mb-35">CEO Data strategies</h5>
                            <h4 class="sub-title">Lorem ipsum velit esse cillum dolore eufugiat nulla pariatur cepteur sint occaecat cupidatat non proident sunt in proide</h4>
                            <img src="{% static 'img/icon/quote.png' %}" alt="" class="quote-icon">
                        </div>
                    </div>
                    <div class="feedback-item">
                        <div class="feedback__wrapper text-center mb-30">
                            <div class="test__img mb-20">
                                <img src="{% static 'img/testimonial/02.png' %}" alt="">
                            </div>
                            <h3 class="mb-20">Mahfuz Riad</h3>
                            <h5 class="mb-35"> Data Science strategies</h5>
                            <h4 class="sub-title">Lorem ipsum velit esse cillum dolore eufugiat nulla pariatur cepteur sint occaecat cupidatat non proident sunt in proide</h4>
                            <img src="{% static 'img/icon/quote.png' %}" alt="" class="quote-icon">
                        </div>
                    </div>
                    <div class="feedback-item">
                        <div class="feedback__wrapper text-center mb-30">
                            <div class="test__img mb-20">
                                <img src="{% static 'img/testimonial/01.png' %}" alt="">
                            </div>
                            <h3 class="mb-20">Mahadi Shopnil</h3>
                            <h5 class="mb-35">CEO Data strategies</h5>
                            <h4 class="sub-title">Lorem ipsum velit esse cillum dolore eufugiat nulla pariatur cepteur sint occaecat cupidatat non proident sunt in proide</h4>
                            <img src="{% static 'img/icon/quote.png' %}" alt="" class="quote-icon">
                        </div>
                    </div>
                    <div class="feedback-item">
                        <div class="feedback__wrapper text-center mb-30">
                            <div class="test__img mb-20">
                                <img src="{% static 'img/testimonial/02.png' %}" alt="">
                            </div>
                            <h3 class="mb-20">Mahfuz Riad</h3>
                            <h5 class="mb-35"> Data Science strategies</h5>
                            <h4 class="sub-title">Lorem ipsum velit esse cillum dolore eufugiat nulla pariatur cepteur sint occaecat cupidatat non proident sunt in proide</h4>
                            <img src="{% static 'img/icon/quote.png' %}" alt="" class="quote-icon">
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
        <!-- client-feedback end -->


        <!-- sdot-team start -->
        {% comment %} <section class="sdot-team pos-rel pt-210 pb-130 pt-md-105 pt-xs-105 pb-md-80 pb-xs-80">
            <img class="team-shape shape_01 d-none d-lg-inline-block" src="{% static 'img/line-shape/3a.svg' %}" alt="">
            <img class="team-shape shape_02 d-none d-lg-inline-block" src="{% static 'img/line-shape/3a.svg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="s-teams mb-50 text-center">
                            <div class="s-teams__thumb">
                                <img src="{% static 'img/team/01.jpg' %}" alt="">
                            </div>
                            <div class="s-teams__content pt-40">
                                <h3>Mahfuz Riad</h3>
                                <p>Ux Prodcut Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="s-teams mb-50 text-center">
                            <div class="s-teams__thumb">
                                <img src="{% static 'img/team/02.jpg' %}" alt="">
                            </div>
                            <div class="s-teams__content pt-40">
                                <h3>Tamim Megh</h3>
                                <p>Ui Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="s-teams mb-50 text-center">
                            <div class="s-teams__thumb">
                                <img src="{% static 'img/team/03.jpg' %}" alt="">
                            </div>
                            <div class="s-teams__content pt-40">
                                <h3>Foqrul Islam</h3>
                                <p>CEO of Company</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
        <!-- sdot-team end -->


        <!-- get-quote start -->
        {% comment %} <section class="get-quote grey-yellow-bg pos-rel pt-180 pb-130 pt-md-90 pt-xs-90 pb-md-50 pb-xs-50">
            <img class="quote-shape shape_01 d-none d-md-inline-block" src="{% static 'img/shape/08.svg' %}" alt="">
            <img class="quote-shape shape_02 d-none d-md-inline-block" src="{% static 'img/shape/09.svg' %}" alt="">
            <img class="quote-shape shape_03 d-none d-md-inline-block" src="{% static 'img/shape/10.svg' %}" alt="">
            <img class="quote-shape shape_04 d-none d-lg-inline-block" src="{% static 'img/shape/11.svg' %}" alt="">
            <img class="quote-shape shape_05 d-none d-md-inline-block" src="{% static 'img/shape/10.svg' %}" alt="">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 wow fadeInUp2 animated" data-wow-delay="0.1s">
                        <div class="quote__wrapper mb-50">
                            <div class="section-title text-left mb-110">
                                <h2 class="mb-0 pr-60 pr-xs-0">Get Ready to <span class="vector-shape get-vec-shape">Started</span></h2> 
                                <h2 class="mb-45 pr-60 pr-xs-0"> It’s Free & Very Easy</h2>
                                <h4 class="sub-title mb-50">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt labore.Lorem ipsum dolor sit amet consectetur </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp2 animated" data-wow-delay="0.1s">
                        <div class="quote-form white-bg mb-50">
                            <h3 class="quote-title mb-35">Subscribe for Quote</h3>
                            <form class="subscribe-form" action="#">
                                <div class="input-field mb-25">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" placeholder="Mahfuz Riad"> 
                                    <img class="close-icon" src="{% static 'img/icon/close.png' %}" alt="">
                                </div>
                                <div class="input-field input-password mb-25">
                                    <label for="password">Password</label>
                                    <input type="text" id="password" placeholder="* * * * * * * * * ">
                                    <img class="eye-icon" src="{% static 'img/icon/eye.png' %}" alt="">
                                </div>
                            </form>
                            <button class="theme_btn quote_btn_lg mb-35 mt-10">Get a Quote</button>
                            <span>Let's do great things together Free <a href="sign-up.html">Sign up</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
        <!-- get-quote end -->


        <!-- cat-area start -->
        <section class="cta-area pos-rel pt-170 pb-150 pt-md-90 pt-xs-90 pb-md-50 pb-xs-50">
            <img class="cta-shape shape_01 d-none d-md-inline-block" src="{% static 'img/shape/dot2a.svg' %}" alt="">
            <img class="cta-shape shape_02" src="{% static 'img/cta/01.svg' %}" alt="">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9">
                        <div class="cta__wrapper mb-50 text-center">
                            <div class="section-title">
                                <h2 class="mb-45">Start visualizing your data today.</h2> 
                                <h4 class="sub-title mb-45">We take big data and create customized visual reporting that is specific to your business model so decisions can be made more effectively throughout your business.</h4>
                                <a href="{% url 'services' %}" class="theme_btn">More Services</a>
                                <span class="round-shape"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cat-area end -->
        
    

    </main>

{% endblock body %}