{% extends 'base/layout.html' %}
{% load static %}

{% block active2 %}active{% endblock active2 %}

{% block title %}Our Services{% endblock title %}

{% block body %}


    

    <main>
        <!-- page-title-area start -->
        <div class="page-title-area yellow-soft-bg-2 pos-rel">
            <img class="page-shape zigzag_01" src="{% static 'img/shape/03.svg' %}" alt="">
            <img class="page-shape zigzag_02" src="{% static 'img/shape/s1d.svg' %}" alt="">
            <img class="page-shape zigzag_03" src="{% static 'img/shape/s1b.svg' %}" alt="">
            <div class="page-title-img">
                <img class="img-fluid" src="{% static 'img/page-bg/05.jpg' %}" alt="">
                <img class="page-shape shape_01" src="{% static 'img/line-shape/3a.svg' %}" alt="">
                <img class="page-shape shape_02" src="{% static 'img/line-shape/3a.svg' %}" alt="">
                <span class="speacial-text">Services</span>
            </div>
            {% comment %} <div class="video-wrapper">
                <a class="popup-video" href="../../../external.html?link=https://www.youtube.com/watch?v=q2Ruz1dHnow">
                    <img src="{% static 'img/icon/play.svg' %}" alt=""></a>
            </div> {% endcomment %}
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-7 offset-lg-5">
                        <div class="page-title-wrapper pt-255 pb-80 pl-55 pt-lg-200 pt-md-200 pt-xs-200 pl-md-0 pl-xs-0">
                            <h1 class="page-title mb-55">Services  <br/><span>Data Care Analytics</span> <br/>Offers</h1>
                            <h4 class="sub-title mb-30">We have the expertise to provide a variety of data science services to meet the needs of your organization.</h4>
                            {% comment %} <h4 class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do Lorem ipsum dolor sit amet </h4> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-title-area end -->


        <!-- intro-card-area start -->
        {% comment %} <section class="intro-card-area gradient-gray pos-rel pt-270 pb-150 pt-md-150 pt-xs-150 pb-md-75 pb-xs-75">
             <img src="{% static 'img/shape/04.png' %}" alt="" class="data-shape shape_01">
             <img class="intro-shape shape_02" src="{% static 'img/shape/15.svg' %}" alt="">
             <img class="intro-shape shape_03" src="{% static 'img/shape/16.svg' %}" alt="">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="intro-section-title">
                            <div class="section-title text-center mb-110">
                                <h2 class="mb-40 wow fadeInUp2 animated" data-wow-delay="0.1s">Why data science 
                                    <span class="vector-shape intro-v-shape">Sdot</span> data create digital future</h2> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="intro-box intro-02 mb-30">
                            <h5 class="mb-25">Solutions Visualization</h5>
                            <h3 class="mb-30"><a href="services.html">Data Visualization Practices to Improve</a></h3>
                           <div class="intro-02__ai">
                               <img class="pen-ai" src="{% static 'img/intro/01.svg' %}" alt="">
                           </div>
                           <a href="#" class="intro-btn pl-10"><img src="{% static 'img/icon/long-right-arrow.svg' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="intro-box intro-02 active mb-30">
                            <h5 class="mb-25">Data Consulting</h5>
                            <h3 class="mb-30"><a href="services.html">Consulting on invoice data capture</a></h3>
                            <div class="intro-02__ai">
                               <img class="pen-ai" src="{% static 'img/intro/01.svg' %}" alt="">
                           </div>
                           <a href="#" class="intro-btn pl-10"><img src="{% static 'img/icon/long-right-arrow.svg' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="intro-box intro-02 mb-30">
                            <h5 class="mb-25">Data Case Studies</h5>
                            <h3 class="mb-30"><a href="services.html">Delivering the insights Data Case</a></h3>
                            <div class="intro-02__ai">
                               <img class="pen-ai" src="{% static 'img/intro/01.svg' %}" alt="">
                           </div>
                           <a href="#" class="intro-btn pl-10"><img src="{% static 'img/icon/long-right-arrow.svg' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
        <!-- intro-card-area end -->
        <!-- sdot-services start -->
        <section class="sdot-services sdot-bottom-shape yellow-soft-bg pos-rel pt-160 pb-75 pt-md-90 pt-xs-90 pb-md-50 pb-xs-50">
            <img class="services-shape shape_01" src="{% static 'img/shape/05.png' %}" alt="">
            <img class="services-shape shape_02" src="{% static 'img/shape/06.svg' %}" alt="">
            <div class="services-shape shape_03"></div>
            <div class="container">
                <div class="row align-items-end mb-90">
                    <div class="col-xl-9 col-lg-8">
                        <div class="section-title text-center text-lg-left mb-45 mb-md-15 mb-xs-15">
                            <h2 class="mb-0">Our data science</h2>
                            <h2> and analytics <span class="vector-shape s-serv-shape">services</span></h2>
                        </div>
                    </div>
                    {% comment %} <div class="col-xl-3 col-lg-4 text-center text-lg-right">
                        <div class="more_services_btn mb-45 wow fadeInUp2 animated mt-60" data-wow-delay="0.1">
                            <a href="services.html" class="theme_btn">More Services</a>
                        </div>
                    </div> {% endcomment %}
                </div>
                <div class="row">
                    
                    {% for service in services %}
                    
                        <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp2 animated" data-wow-delay="0.1s">
                            <div class="s-services s-services-02 swipe-right text-center mb-30">
                            <div class="s-services__icon">
                                    <img class="s-icon mb-50 wow animated fadeInDown" data-wow-delay="0.1s" src="{{service.icon.url}}" alt="">
                            </div>
                                <p class="mb-20">{{service.brief_desc}}</p>
                                <h3 class="mb-40">{{service.title}}</h3>
                                {% comment %} <a class="long-arrow" href="services.html"><img src="{% static 'img/icon/long-right-arrow.svg' %}" alt=""></a> {% endcomment %}
                            </div>
                        </div>

                    {% endfor %}
                    
                </div>
            </div>
        </section>
        <!-- sdot-services end -->
         <!-- how-it-work start -->
        {% comment %} <section class="how-it-work pos-rel pt-180 pb-130 pt-md-120 pt-xs-120 pb-md-90 pb-xs-40">
            <img class="work-shape shape_01" src="{% static 'img/shape/07.svg' %}" alt="">
            <img class="work-shape shape_02" src="{% static 'img/shape/09.svg' %}" alt="">
            <img class="work-shape shape_03" src="{% static 'img/shape/09.svg' %}" alt="">
            <div class="container services-custom-container-2">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="work__wrapper mb-105 pl-70 pr-70 pr-lg-0 pr-md-0 pr-xs-0 pl-lg-0 pl-md-0 pl-xs-0 mb-md-90 mb-xs-90">
                            <div class="section-title text-center wow fadeInUp2 animated" data-wow-delay="0.1s">
                                <h2 class="mb-0">How it work</h2>
                                <h2 class="mb-45">Our Unique <span class="vector-shape work-vec-shape">Technology</span></h2>
                                <h4 class="sub-title">Dolor sit amet consectetur elit sed eiusmod tempor incidi dunt labore dolore magna aliqua enim ad minim veniam</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row s-works-row mr-15 ml-15 ml-xs-0 mr-xs-0">
                        <div class="col-xl-4 col-lg-4  col-md-6 wow fadeInUp2 animated" data-wow-delay="0.1s">
                            <div class="s-works  pos-rel mb-50 mr-75">
                                <div class="s-works__icon mb-55">
                                    <img src="{% static 'img/icon/w1.svg' %}" alt="">
                                </div>
                                <h3 class="semi-title mb-30">Analyze your Data </h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor </h5>
                                <img src="{% static 'img/icon/right-down-arrow-1.svg' %}" alt="" class="shape-down-arrow d-none d-xl-inline-block">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp2 animated" data-wow-delay="0.2s">
                            <div class="s-works pos-rel mb-50 ml-25 mr-25">
                                <img src="{% static 'img/icon/right-down-arrow-1.svg' %}" alt="" class="shape-down-arrow-2 d-none d-xl-inline-block">
                                <div class="s-works__icon mb-55">
                                    <img src="{% static 'img/icon/w2.svg' %}" alt="">
                                </div>
                                <h3 class="semi-title mb-30">Customized Plan</h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor </h5>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp2 animated" data-wow-delay="0.3s">
                            <div class="s-works mb-50 ml-75">
                                <div class="s-works__icon mb-55">
                                    <img src="{% static 'img/icon/w3.svg' %}" alt="">
                                </div>
                                <h3 class="semi-title mb-30">Final Analytics Solution</h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
        <!-- how-it-work end -->
        <!-- why-data-science start -->
        <section class="why-data-science fix pos-rel pt-50 pb-105">
            <img src="{% static 'img/shape/04.png' %}" alt="" class="data-shape shape_01">
            <div class="data-shape shape_02"></div>
            <div class="container">
                <div class="row no-gutters align-items-center">
                    <div class="col-lg-6">
                        <div class="data-wrapper data-wrapper-2 mb-50">
                             <div class="section-title wow fadeInUp2 animated" data-wow-delay="0.1s">
                                <h2 class="mb-35">We’re a digital data science firm</h2>
                            </div>
                            <h3 class="mb-50 wow fadeInUp2 animated" data-wow-delay="0.1s">We appreciate trust greatly</h3>
                            <h3 class="mb-45">Do you want to work with us? </h3>
                            <h5 class="mb-40 pr-90 pr-xs-0 wow fadeInUp2 animated" data-wow-delay="0.3s">It is really great you want work with us, contact us now, let us help you turn your data into a useful asset.</h5>
                            <h3 class="mb-45">Are you worrying about pricing?</h3>
                            <h5 class="wow fadeInUp2 animated pr-90 pr-xs-0" data-wow-delay="0.5s">DCA is one of the best platforms providing flawless data science solutions at an affordable price. Get in touch with us and you will love us for our great services and affordable pricing.</h5>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="data-img wow fadeInRight2 animated" data-wow-delay="0.3s">
                           <img class="vector_03 ml-135" src="{% static 'img/data/03.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- why-data-science end -->


      
        <!-- company-statictics end -->
        <!-- get-quote start -->
        {% comment %} <section class="get-quote grey-yellow-bg pos-rel pt-180 pb-130 pt-md-90 pt-xs-90 pb-md-50 pb-xs-50">
            <img class="quote-shape shape_01 d-none d-md-inline-block" src="{% static 'img/shape/08.svg' %}" alt="">
            <img class="quote-shape shape_02 d-none d-md-inline-block" src="{% static 'img/shape/09.svg' %}" alt="">
            <img class="quote-shape shape_03 d-none d-md-inline-block" src="{% static 'img/shape/10.svg' %}" alt="">
            <img class="quote-shape shape_04 d-none d-md-inline-block" src="{% static 'img/shape/11.svg' %}" alt="">
            <img class="quote-shape shape_05 d-none d-md-inline-block" src="{% static 'img/shape/10.svg' %}" alt="">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 wow fadeInUp2 animated" data-wow-delay="0.1s">
                        <div class="quote__wrapper mb-50">
                            <div class="section-title text-left mb-110">
                                <h2 class="mb-0 pr-60 pr-xs-0">Get Ready to <span class="vector-shape get-vec-shape">Started</span></h2> 
                                <h2 class="mb-45 pr-60 pr-xs-0"> It’s Free & Very Easy</h2>
                                <h4 class="sub-title mb-50">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt labore.Lorem ipsum dolor sit amet consectetur </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp2 animated" data-wow-delay="0.1s">
                        <div class="quote-form white-bg mb-50">
                            <h3 class="quote-title mb-35">Subscribe for Quote</h3>
                            <form class="subscribe-form" action="#">
                                <div class="input-field mb-25">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" placeholder="Mahfuz Riad"> 
                                    <img class="close-icon" src="{% static 'img/icon/close.png' %}" alt="">
                                </div>
                                <div class="input-field input-password mb-25">
                                    <label for="password">Password</label>
                                    <input type="text" id="password" placeholder="* * * * * * * * * ">
                                    <img class="eye-icon" src="{% static 'img/icon/eye.png' %}" alt="">
                                </div>
                            </form>
                            <button class="theme_btn quote_btn_lg mb-35 mt-10">Get a Quote</button>
                            <span>Let's do great things together Free <a href="sign-up.html">Sign up</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
        <!-- get-quote end -->
        <!-- cat-area start -->
         <section class="cta-area pos-rel pt-170 pb-150 pt-md-90 pt-xs-90 pb-md-50 pb-xs-50">
            <img class="cta-shape shape_01 d-none d-md-inline-block" src="{% static 'img/shape/dot2a.svg' %}" alt="">
            <img class="cta-shape shape_02" src="{% static 'img/cta/01.svg' %}" alt="">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9">
                        <div class="cta__wrapper mb-50 text-center">
                            <div class="section-title">
                                <h2 class="mb-45">Start visualizing your data today.</h2> 
                                <h4 class="sub-title mb-45">We take big data and create customized visual reporting that is specific to your business model so decisions can be made more effectively throughout your business.</h4>
                                <a href="{% url 'services' %}" class="theme_btn">More Services</a>
                                <span class="round-shape"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cat-area end -->
        
    

    </main>
    <!--footer-area start-->
  

{% endblock body %}